.App {
}

.App-logo {
  position: absolute;
  top: 0;
  left: 20;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li {
  cursor: pointer;
}
